<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css}">

    <link rel="stylesheet" th:href="@{https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js}">
    <link rel="stylesheet" th:href="@{https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js}">

    <link rel="stylesheet" th:href="@{https://cdn.bootcss.com/jquery-weui/1.2.1/js/swiper.min.js}">
    <link rel="stylesheet" th:href="@{ https://cdn.bootcss.com/jquery-weui/1.2.1/js/city-picker.min.js}">
    <script  type="text/javascript" th:src="@{image/icon/jquery-2.1.4.min.js}" src="../../static/image/icon/jquery-2.1.4.min.js"></script>
</head>
<body>

<div id="footer"></div>

<script>
    $("#footer").load("/foot");
</script>

</body>
</html>